[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
.validation/
TestResults/
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.opendb
*.VC.db
*.unitypackage
Recordings/Frames/
Recordings/*.log
